<mat-card>
  <section class="caixa-btos1">
    <button
      (click)="filtrarExibidos(2)"
      class="bto-filtro"
      mat-raised-button
      [matBadge]="itens.length"
      matBadgeColor="accent"
    >
      Todas
    </button>
    <button
      (click)="filtrarExibidos(1)"
      class="bto-filtro"
      mat-raised-button
      [matBadge]="contarItensFeitos()"
    >
      Feitas
    </button>
    <button
      (click)="filtrarExibidos(0)"
      class="bto-filtro"
      mat-raised-button
      [matBadge]="contarItensNaoFeitos()"
      matBadgeColor="warn"
    >
      Faltam
    </button>
  </section>
  <mat-divider></mat-divider>
  <section class="caixa-btos2">
    <mat-form-field>
      <mat-label><mat-icon>search</mat-icon>Pesquisar</mat-label>
      <input
        #pesquisa
        matInput
        type="text"
        [(ngModel)]="filtro"
        (keyup)="filtrarExibidosPor(pesquisa.value)"
      />
      <button
        *ngIf="filtro"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="limparFiltro()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button
      mat-fab
      color="primary"
      (click)="adicionarTarefa()"
      aria-label="Botão de Adicionar Tarefa"
    >
      <mat-icon>add</mat-icon>
    </button>
  </section>

  <mat-card-content>
    <section
      cdkDropList
      (cdkDropListDropped)="mudarPosicao($event)"
      class="caixa-lista"
    >
      <div *ngFor="let item of itensExibidos" class="caixa-item">
        <app-to-do-item
          [tarefa]="item"
          (emitir)="receberTarefa($event)"
          (salvar)="salvarDados()"
        ></app-to-do-item>
      </div>
    </section>
  </mat-card-content>
</mat-card>
