<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input
      cdkFocusInitial
      matInput
      value="teste3"
      [(ngModel)]="data"
      (keyup.enter)="enviar()"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions class="rodape">
  <button mat-icon-button (click)="cancelar()" aria-label="Botão de Cancelar">
    <mat-icon>clear</mat-icon>
  </button>
  <button mat-icon-button (click)="enviar()" aria-label="Botão de Confimar">
    <mat-icon>task_alt</mat-icon>
  </button>
</div>
